extends layout
block content
	.oldPosts-container.row
		.col-md-6.col-lg-12
			.oldPosts-content
				#oldPosts-title
					h1 Old Posts
				ul
					- for post in posts
						li
							.postTitle.form-group
								h2( id="#{post.id}", data-title-id= '#{ post.id }' )= post.title
							.postDate.form-group
								h6=post.date
							.postContent.form-group
								h4( data-content-id= '#{ post.id }')= post.content
							.form-group
								- if (loggedIn)
									button(class='delete', href='/blog/#{post.id}', data-id='#{post.id}') Delete
									button(class='edit', data-toggle='modal', data-id='#{post.id}', data-target='#myModal') Edit
				#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
					.modal-dialog
						.modal-content
							form(id='modalEditForm',role='form', action='#')
								.modal-header
									.form-group
										button.close(type='button', data-dismiss='modal', aria-hidden='true')
										h4#myModalLabel.modal-title
											label(id="titleEditID", for="titleEdit") Title :
											input(id="titleEdit", type="text", name="title")
											input(id="post_id", type="hidden", value="", name="id")
								.modal-body
									.form-group
										label(id='bodyEditID', for='bodyEdit') Body :
										textarea(id='bodyEdit', class='form control', type='text', rows='17', cols='70', name='content')
								.modal-footer
									.form-group
										button.btn.btn-default(type='button', data-dismiss='modal') Close
										button.btn.btn-primary(id='modalSave',type='button') Save changes